doctype html
html(ng-app="zipcodes")
	head
		base(href="/")
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/app.css')
		script(src="/javascripts/components.js")
		script(src="/javascripts/myjs.js")
	body
		div.jumbotron
		div.container
			ng-view
			block content