doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/app.css')
		script(src="/javascripts/components.js")
	body
		div.jumbotron
		div.container
		block content